<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecurePass">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity-alias
            android:name=".MainActivityBlue"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/classic_blue"
            android:roundIcon="@drawable/classic_blue"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityRed"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/crimson_red"
            android:roundIcon="@drawable/crimson_red"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityPurple"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/royal_purple"
            android:roundIcon="@drawable/royal_purple"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityGreen"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/forest_green"
            android:roundIcon="@drawable/forest_green"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".MainActivityAmber"
            android:targetActivity=".MainActivity"
            android:icon="@drawable/amber_gold"
            android:roundIcon="@drawable/amber_gold"
            android:exported="true"
            android:enabled="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity android:name=".VaultActivity" />
        <activity android:name=".AddEditActivity" />
        <activity android:name=".SettingsActivity" />

    </application>
</manifest>